// colors
$backgroundColor: #e5e5e5;
$secondaryBackgcolor: #fff;
$textColor: #5b5b5b;
$primaryColor: #3c9c41;
$focusColor: #318636;
$hoverColor:#4db252;
// others
$borderRadius: 10px;
$displayFlex: flex;
$fontWeignt: bold;