@import "~antd/dist/antd.css";
@import "./asserts/css/variable";
@import "./asserts/css/mixin";

.App {
    background-color: $backgroundColor;
    height: 100vh;
}

.form-conatiner,
.signInForm {
    @include content-align;
}

.form-conatiner {
    height: 100%;
    width: 100%;
}

.logo {
    width: 100px;
    height: 8vh;
    margin-top: 30px;
}

.signInForm {
    background-color: $secondaryBackgcolor;
    padding: 20px 40px;
    @include border-content;
    .formInput {
        &:hover {
            border: 0.5px solid $primaryColor;
        }
        &:focus {
            border: 0.5px solid $focusColor;
        }
    }
    .ant-input-affix-wrapper-focused {
        border: 0.5px solid $primaryColor;
    }
    .ant-input-affix-wrapper {
        &:focus {
            border: 0.5px solid $primaryColor;
        }
    }
}

h1,
.signInForm .ant-form-item-label label {
    font-weight: $fontWeignt;
    color: $textColor;
}

.gender {
    .ant-form-item-control-input-content {
        display: $displayFlex;
        justify-content: space-between;
    }
}

.gender {
    button {
        height: 75px;
        padding: 15px 30px 15px 20px;
        @include border-content;
        &:focus {
            color: $primaryColor;
            border: 0.5px solid $focusColor;
        }
        &:hover {
            color: $primaryColor;
            border: 0.5px solid $primaryColor;
        }
    }
}

.signInForm {
    .formInput {
        padding: 12px;
        @include border-content;
    }
}

.signUpButton {
    @include button-style;
    @include border-content;
}

.ant-btn-primary {
    @include button-style;
}

.signUpButton {
    &:hover {
        background-color: $hoverColor;
    }
}

.ant-btn-primary {
    &:hover {
        background-color: $hoverColor;
    }
}

.signUpButton {
    &:focus {
        background-color: $focusColor;
    }
}

.ant-btn-primary {
    @include button-style;
    &:focus {
        background-color: $focusColor;
    }
}

.formFooter {
    a {
        font-weight: $fontWeignt;
        text-decoration: underline;
        color: $primaryColor;
    }
}

@media screen and (max-width: 768px) {
    .gender {
        button {
            height: 65px;
            padding: 15px 25px 15px 15px;
        }
    }
}
