@import '~antd/dist/antd.css';
$textColor: #5b5b5b;

// .App {
//     text-align: center;
// }
.signInForm{
    width: 25%;
    margin-left: 100px;
    
}
.logo{
    width: 100px;
    height: 12vh;
    margin-top: 30px;
}

h1{
    color: $textColor;
}
.gender {
    display: grid;
}
.gender button{
    margin-left: 20px;
  }